body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-image: url('../assets/images/old-library-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100svh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.main__title {
    color: var(--main-heading);
    margin: 1rem 0;
}

#openModal {
    padding: 0.5rem 1rem;
    font-size: 1rem;

    border-radius: 0.5rem;
    background-color: var(--modal-bg);
    color: var(--modal-btn--text);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.modal {
    display: none;
}

.modal__btn--title,
#readLabel {
    color: var(--modal--subtext);
}