body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-image: url('../assets/images/old-library-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100svh;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.main__title {
    color: var(--main-heading);
    margin: 1rem 0 0;
}

#openModal {
    padding: 0.5rem 1rem;
    font-size: 1rem;

    border-radius: 0.5rem;
    background-color: var(--modal-bg);
    color: var(--modal-btn--text);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; /* above everything */

    .modal__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5); /* dim background */
        backdrop-filter: blur(2px);
    }
}

.modal__content {
        position: relative;
        margin: 17vh auto;
        padding: 0 2rem 2rem;
        width: 80%;

        background: var(--light-semi--transparent); /* semi-opaque white */
        border-radius: 12px;    /* rounded corners */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* floating shadow */
        backdrop-filter: blur(10px);  /* subtle blur inside card */

        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;

        .modal__title {
            margin-bottom: 1rem;
        }

    #bookForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 1rem;
    }

    .submit__btn {
        width: 100%;
        padding: 0.6rem 1rem;
        font-size: 1rem;

        border-radius: 0.5rem;
        background-color: var(--modal-bg);
        color: var(--modal-btn--text);
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    }

    .modal__btn--title {
        align-self: flex-start;
        margin-bottom: 0.75rem;
    }

    .close__btn {
        align-self: flex-end;
        font-size: 1.5rem;
        font-weight: bold;
    }   
}

.modal__btn--title,
#readLabel {
    color: var(--modal-btn--text);
}

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    width: 50%;
    gap: 1rem;

    .book {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        background-color: var(--modal-bg);
        border-radius: 0.5rem;
        padding: 1rem;
    }
}