:root {
    /* Custom Colors */
    --main-heading: #F5E0C3;

    --modal-bg: rgba(255, 255, 255, 0.95);
    --modal-btn--text: #222222;
    --modal--subtext: #FFE5B4;

    --card-btn-bg: rgba(247, 208, 168, 0.5);
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-regular.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-500.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-600.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-700.woff2')
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
    border: none;
    background: none;

    color: var(--modal-btn--text);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

input {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

label, 
input[type="checkbox"] {
    display: grid;
    place-items: center;

    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

input[type="checkbox"] {
    margin: 0;

    width: 1em;
    height: 1em;
}

h1, h2, h3{
    font-weight: 600;
}

p {
    font-size: 0.9rem;
}