@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-regular.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-500.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-600.woff2')
}

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('../assets/fonts/inter-v20-latin-700.woff2')
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url('../assets/images/old-library-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100svh;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}